<div class="cmd-hcard cmd-series-container cmd-mt-md">
    <div class="h-card">
        <div class="cmd-hcard-avatar">
            <img class="u-photo" src="{{ site.authorPicture }}" alt="{{site.authorName}}'s avatar" >
        </div>
        <div class="cmd-hcard-details">
            {% if introSummary %}
            <div class="p-note">
                    {{ introSummary | safe }}
            </div>
            {% endif %}
            {% if page.url === '/' %}
              
            {% endif %}
            {% if elsewhere.places %}
                <div class="cmd-elsewhere">
                    <h2>Find me elsewhere:</h2>
                    <ul class="elsewhere cmd-elsewhere-places">
                        {% for place in elsewhere.places %}
                            <li>
                                <a rel="me" class="u-url" href="{{place.url}}">{{place.name}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</div>