<header class="cmd-hero cmd-text-align-center">
    <h1 class="cmd-ink--primary cmd-mb-none cmd-mlg [ intro__heading{{ ' intro__heading--compact' if page.url === '/' }} ] [ text-800 md:text-900 leading-tight ] [ p-name ]">{{ introHeading }}</h1>
    {% if introSummary %}
      {{ introSummary | safe }}
    {% endif %}
</header>
