<header class="cmd-hero cmd-text-align-center">
    <h1 class="cmd-ink--primary cmd-mb-none cmd-mlg p-name">{{ introHeading }}</h1>
    {% if introSummary %}
      {{ introSummary | safe }}
    {% endif %}
</header>
