{% if postListItems.length %}
  <section aria-labelledby="latest" class="cmd-series-container cmd-series-container--postpage cmd-text-align-center{% if '/archive' not in page.url %} cmd-gradient-border{% endif %} cmd-mt-md">
    {% if '/archive' not in page.url %}
      <h2 id="latest" class="cmd-ink--secondary">Latest Posts</h2>
    {% endif %}
    <ol class="cmd-column-container cmd-column-container--postpage cmd-mt-lg h-feed" reversed="reversed">
      {% for item in postListItems %}
        {% if item
          .date
          .getTime() <= global
          .now %}
          <li class="cmd-card">
            <div class="cmd-card__content hentry">
              <a href="{{ item.url }}" class="cmd-card__title u-url p-name" rel="bookmark">
                <span>{{ item.data.title }}</span></a>
              <p>
                <time datetime="{{ item.date | w3DateFilter }}" class="dt-published">{{ item.date | dateFilter }}</time>
                <span>— {{ helpers.getReadingTime(item.templateContent) }} minute read</span>
              </p>
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ol>
    {% if '/archive' not in page.url %}
      <a href="/archive/" class="cmd-button">Browse the whole archive</a>
    {% endif %}
  </section>
{% endif %}
