<footer class="cmd-series-container cmd-series-container--postpage cmd-text-align-center cmd-gradient-border cmd-mt-md cmd-page-footer">
  
  <div class="">
    <div>
      {% set ariaLabel = 'footer navigation' %}
      {% include "partials/components/nav.njk" %}
    </div>
  </div>
</footer>