<nav class="cmd-nav">
  
      <a href="/" class="cmd-sitename cmd-logo">
        
        <span class="visually-hidden">{{ site.name }} - Home</span>
        <span class="cmd-h1" aria-hidden="true">{{ site.name }}</span>
      </a>

</nav>
