<nav class="cmd-nav">
  
      <a href="/" class="cmd-logo h-card u-url">
        <img src="/images/avatar.jpg" class="u-photo" height="48" width="48" alt="Chris McLeod">
        <span class="visually-hidden">{{ site.name }} - Home</span>
        <span class="cmd-sitename p-name" aria-hidden="true">{{ site.name }}</span>
      </a>

</nav>
