<nav class="cmd-nav">
  
      <a href="/" class="cmd-logo h-card">
        <img src="/images/avatar.jpg" height="48" width="48" class="u-photo" alt="Chris McLeod">
        <span class="visually-hidden">{{ site.name }} - Home</span>
        <span class="cmd-sitename p-name u-url" aria-hidden="true">{{ site.name }}</span>
      </a>

</nav>
