{% extends 'layouts/base.njk' %}
{% block bodyClasses %}
  class="h-entry"
{% endblock %}
{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
<p class="cmd-lead cmd-ink--gray cmd-mt-md">
  <span>
    {% if date %}
      <time datetime="{{ date | w3DateFilter }}" class="dt-published">{{ date | dateFilter }}</time>
    {% endif %}
    <span>—
      {{ helpers.getReadingTime(content) }}
      minute read</span>
    <small class="cmd-row h-card hcard">
      <a href="{{ site.url }}" class="u-url p-name">{{ site.authorName }}</a>
    </small>
  </span>
</p>
{% endset %}

{% block content %}
  {% include "partials/components/intro.njk" %}

  <main id="main-content" tabindex="-1" class="cmd-container cmd-postpage">
    <article class="cmd-mx-auto h-entry">

      {{ content | safe }}

      {% if tags %}
        <footer class="">
          <h2 class="cmd-h3">Filed under</h2>
          <ul class="p-category cmd-tags">
            {% for item in tags %}
              <li class="cmd-tag" data-icon="🏷">
                <a href="/tags/{{ item }}" rel="u-category">{{ item }}</a>
              </li>
            {% endfor %}
          </ul>
        </footer>
      {% endif %}
    </article>
  </main>
{% endblock %}

{% block foot %}
  {%- if collections.posts.length > 1 -%}
    <aside aria-labelledby="next" class="cmd-series-container cmd-series-container--postpage cmd-text-align-center cmd-gradient-border cmd-mt-md">
      <h2 id="next" class="cmd-ink--secondary">What to Read Next</h2>
      <a href="/" class="cmd-button">Browse the whole archive</a>
      <ul class="cmd-column-container cmd-column-container--postpage cmd-mt-lg">
        {%- for post in collections.posts | randomLimit(3, page.url) -%}
          <li class="cmd-card">
            <div class="cmd-card__content">
              <a href="{{ post.url }}" class="cmd-card__title">
                <span>{{ post.data.title }}</span></a>
              <p>
                <time datetime="{{ post.data.date | w3DateFilter }}" class="dt-published">{{ post.data.date | dateFilter }}</time>
                <span>{{ helpers.getReadingTime(post.templateContent) }} minute read</span>
              </p>
            </div>
          </li>
        {%- endfor -%}
      </ul>
    </aside>
  {%- endif -%}
{% endblock %}

{{ content | safe }}
